{% extends 'base.html'%}

{%block title%}
Наши кафе
{%endblock %}

{%block body%}
<div class="container">
    <p class="text-white">НАШИ КАФЕ</p>

    <div class="alert alert-warning mt-3">
        <h1>GARAGE food&coffee</h1>
             <p>Минск</p>
           тел. 8 029 320-11-11<br>
             Круглосуточно
    </div>
        <div class="alert alert-warning mt-3">
        <h1>GARAGE food&coffee</h1>
             <p>Витебск</p>
           тел.8 029 514-70-07 <br>
             Круглосуточно
    </div>

    <div class="alert alert-warning mt-3">
        <h1>GARAGE food&coffee</h1>
             <p>Гродно</p>
             тел.8 029 330-33-67<br>
             Круглосуточно
    </div>

</div>
{%endblock %}